@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 18% 95%; /* #F0F4F3 */
    --foreground: 167 10% 10%;
    --card: 165 18% 99%;
    --card-foreground: 167 10% 10%;
    --popover: 165 18% 99%;
    --popover-foreground: 167 10% 10%;
    --primary: 167 21% 72%; /* #A7C4BC */
    --primary-foreground: 167 10% 20%;
    --secondary: 165 15% 90%;
    --secondary-foreground: 167 10% 10%;
    --muted: 165 15% 90%;
    --muted-foreground: 165 10% 45%;
    --accent: 44 46% 83%; /* #E8DAB2 */
    --accent-foreground: 44 20% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 167 15% 88%;
    --input: 167 15% 88%;
    --ring: 167 21% 72%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 167 21% 72%;
    --primary-foreground: 167 10% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 44 46% 70%;
    --accent-foreground: 44 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 167 21% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
